body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom right, #5dade2, #85c1e9);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #f1f6fd;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 420px;
  padding: 30px;
  text-align: center;
}

h1 {
  font-size: 28px;
  color: #1e272e;
  font-weight: 700;
  margin-bottom: 5px;
}

h3 {
  color: #2c3e50;
  font-size: 15px;
  margin-top: -10px;
  margin-bottom: 25px;
  font-weight: 500;
}

/* 🔍 Search box */
.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#cityInput {
  padding: 12px 15px;
  width: 65%;
  border: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  font-size: 14px;
}

#searchBtn {
  padding: 12px 18px;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #007bff;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

#searchBtn:hover {
  background-color: #0056b3;
}

#locationBtn {
  margin-top: 8px;
  background: #17a589;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: 600;
}

#errorMessage {
  color: #e74c3c;
  font-weight: 600;
  margin-top: 10px;
}

#loading {
  color: #007bff;
  font-weight: 600;
  display: none;
}

h2 {
  font-size: 26px;
  color: #1e272e;
  font-weight: 600;
  margin-bottom: 5px;
}

#dateTime {
  color: #636e72;
  font-size: 15px;
  margin-bottom: 10px;
}

img {
  width: 110px;
  margin: 15px 0 5px;
}

#temperature {
  font-size: 62px;
  font-weight: 700;
  color: #2c3e50;
  margin: 10px 0 5px;
}

#description {
  font-size: 18px;
  color: #34495e;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  background: #e8f4ff;
  border-radius: 15px;
  padding: 10px 15px;
  margin-top: 10px;
}

.details div {
  flex: 1;
  text-align: center;
}

.details p:first-child {
  font-size: 14px;
  color: #7f8c8d;
  margin-bottom: 4px;
}

.details p:last-child {
  font-size: 17px;
  color: #2c3e50;
  font-weight: 700;
}

#map {
  height: 230px;
  width: 100%;
  border-radius: 18px;
  margin-top: 15px;
  border: 1px solid #d6eaf8;
}
